/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

html,
body {
    padding: 0px;
    margin: 0px;
    height: calc(100% - 64px);
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}